#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python3 --with autotools_dev

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --disable-fuse

override_dh_auto_test:
# make check seems to be broken

override_dh_strip:
	dh_strip -pseadrive-daemon --dbg-package=seadrive-daemon-dbg

override_dh_auto_build:
	dh_auto_build --parallel
